table{
    border-collapse: collapse;
    width: 50px;
    margin-top: 12px;
}
th{
    color: blue;
}
th,td{
    padding: 8px 20px;
    text-align: left;
}
th:nth-child(1){
    white-space: nowrap;
}
td:nth-child(1){
    text-align: center;
    color:red;
    font-weight: bold;
}
td:nth-child(4){
    white-space: nowrap;
}