body {
    background-color: blueviolet;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}


h1 {
    font-family: 'Times New Roman', Times, serif;
    color: darkred;
    -webkit-text-stroke: 1px gold;
    font-size: 70px;
    letter-spacing: 2px;

}



#betInput{
    padding: 10px 10px;
    border-radius: 70px;
}

#betButton{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 10px;
    border-radius: 70px;
    background-color: rgb(163, 250, 106);
    box-shadow: 0px 1px 5px rgb(0, 0, 0);
    
}
#betButton:hover{
    background-color: rgb(114, 255, 59);
    
}


.info {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

.gameTable{
    display: flex;
    justify-content: space-between;
    gap: 300px;
}

#dealerTitle {
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    color: darkred;
}

#playerTitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    letter-spacing: 3px;
    color: darkred;
}

#hitCardBtn {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 70px;
    margin-top: 35%;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

#stayBtn {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 70px;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

#newRoundBtn {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 70px;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

.moves {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-style: bold;
    color: aliceblue;
}