body{
    background-image: url(sfondo_pagina.jpg);
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
   
}

#startButton{
    padding: 30px 100px;
    border: 200px black;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    color:aliceblue;
    border-radius: 70px;
    border-color: rgb(0, 0, 0);
    margin-top: 50%;
    background-color: darkred;
    box-shadow: 0px 3px 15px rgb(5, 4, 0);
    
}

#startButton:hover{
    background-color:rgb(105, 3, 3);
}

h1{
    font-family:'Times New Roman', Times, serif;
    color: darkred;
    -webkit-text-stroke: 1px gold;
    font-size: 70px;
    letter-spacing: 2px;
}

#balance{
    margin-top: 76px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
