body {
    background-color: #06AB52;
    display: flex;
    justify-content: center;
}

#container {
    width: 100%;
}

#dealerContainer {
    border: 1px solid red;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#dealerTable {
    width: 60%;
}

#dealerCards {
    display: flex;
    justify-content: space-around;
}

#dealerPoints {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

#points {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 6%;
    border-radius: 12%;
    color: white;
    background-color: #203629;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 6%;
    width: 10%;
    background-color: white;
    padding-bottom: 6%;
    border: 1px solid black;

}

.card-flipped {
    border-radius: 6%;
    width: 10%;
    background-color: blue;
    padding-bottom: 6%;
    border: 4px solid white;

}


#icon {
    padding-bottom: 40%;
}

#value {
    display: flex;
    justify-content: center;
    width: 20%;
    padding-right: 40%;
    padding-left: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#choicesTable {
    border: 1px solid red;
}

#playerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#playerTable {
    width: 60%;
}

#playerCards {
    display: flex;
    justify-content: space-around;
}

#playerPoints {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

.points {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 6%;
    border-radius: 12%;
    color: white;
    background-color: #203629;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 6%;
}