.table {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100vw;   
}

.master{
    background-color: blue; 
    height: 30%;
    display: flex;
}
.space{
    background-color: blueviolet; 
    height: 30%;
    display: flex;
}
.player{
    background-color: brown; 
    height: 30%;
    display: flex;
}

.carte-mazziere{
    background-color: blanchedalmond;
    height: 100%;
    width: 30%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-space{
    background-color: aquamarine;
    width: 30%;
}

.alert-fake{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gestione-soldi{
    background-color: rgb(7, 83, 3);
    height: 60%;
    width: 30%;
    margin-top: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}